<div>
    <h2 data-translate="gatewayApp.accountOperation.home.title">Account Operations</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accountId"><span data-translate="gatewayApp.accountOperation.accountId">Account Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="gatewayApp.accountOperation.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="gatewayApp.accountOperation.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span data-translate="gatewayApp.accountOperation.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="accountOperation in vm.accountOperations track by accountOperation.id">
                    <td><a ui-sref="account-operation-detail({id:accountOperation.id})">{{accountOperation.id}}</a></td>
                    <td><a ui-sref="bank-account-detail({id:accountOperation.accountId})">{{accountOperation.accountId}}</a></td>
                    <td>{{accountOperation.date | date:'medium'}}</td>
                    <td data-translate="{{'gatewayApp.AccountOperationType.' + accountOperation.type}}">{{accountOperation.type}}</td>
                    <td>{{accountOperation.amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
