<div>
    <h2 data-translate="gatewayApp.bankAccount.home.title">Bank Accounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bank-account.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gatewayApp.bankAccount.home.createLabel">
                        Create new Bank Account
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span data-translate="gatewayApp.bankAccount.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="balance"><span data-translate="gatewayApp.bankAccount.balance">Balance</span> <span class="glyphicon glyphicon-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bankAccount in vm.bankAccounts track by bankAccount.id">
                    <td><a ui-sref="bank-account-detail({id:bankAccount.id})">{{bankAccount.id}}</a></td>
                    <td>{{bankAccount.userId}}</td>
                    <td>{{bankAccount.balance}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
